ul {
    margin: 0%;
    padding: 0%;
    list-style-type: none;
    overflow: hidden;
    background-color: aqua;
}

li {
    float: left;
}

li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: antiquewhite;
}